{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block page_title %}
	Uno Dashboard
{% endblock %}

{% block content_title %}
	{# LEAVE EMPTY IF YOU DONT WANT CONTENT TITLE #}
{% endblock %}

{% block main %}
    <h1> Admin Dashboard </h1>
    <div>{{text}}</div>
{% endblock %}