.dh_media_preview_container{
	display: flex;
	width: fit-content;
	justify-content: center;

	&.page_detail{
		.dh_media_preview_wrapper{
			width: 25rem !important;

			.dh_media_preview_img{
				object-fit: contain !important;
			}
		}
	}

	.dh_media_preview_wrapper{
		width: 7.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1;
		overflow: hidden;

		&.is-loading{
			background: linear-gradient(90deg, #939292, #a2a2a2, #acacac, #a6a6a6, #868585);
			background-size: 400% 100%;
			animation: wavyAnimation 3s infinite;
			cursor: not-allowed;
		}

		&.is-error{
			.dh_media_preview {
				display: none;
			}
		}
	
		.dh_media_preview_img{
			object-fit: cover;
			width: 100%;
			height: 100%;
			border: unset;
			border-radius: unset;
			max-height: unset;
			max-width: unset;
			padding: unset;
		}

		.dh_media_preview_error_message_wrapper{
			display: flex;
			flex-direction: column;
			align-items: center;

			&.hide-error-msg{
				display: none !important;
			}

			.dh_media_preview_error_img_icon{
				width: 100%;
				height: 3rem;
			}

			.dh_media_preview_error_message{
				font-size: 0.7rem;
				line-height: 12px;
				text-align: center !important;
			}
		}
	}
}